@media screen and (max-width: 768px) {
    .tagline {
        grid-template-columns: repeat(1, 1fr);
    }
    .products {
        grid-template-columns: repeat(1, 1fr);
        padding: 5px; 
    }
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #3498db;
}

.h2head {
    font-size: xx-large;
    padding: 10px;
}

header {
    border-radius: 10px;
    padding: 5px;
    background-color: #968a8a;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
}

ul li {
    padding: 5px;
    margin-right: 10px;
    margin-top: 30px;
}

a {
    color: #fff;
    text-decoration: none;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

.tagline {
    text-align: center;
}

.introimg{
    height: 150px;
    padding: 10px;
}

#about {
    background-color: #968a8a;
    border-radius: 10px;
    margin: 50px;
    overflow: hidden;
}

.sec1 {
    max-height: 300px;
    overflow-y: auto;
}

#about p {
    margin: 0;
    text-align: justify;
    padding: 5px;
}

h4 {
    text-align: center;
}

.item {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   padding: 10px;
   border-radius: inherit;
}

.fig {
    background-color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
}



.item img {
    height: 250px;
}

.socials img {
    height: 50px;
}